@require '../packages/github/necolas/normalize.css@3.0.2/normalize.css'

html, body, main
  align-items center
  background #f6f6f6
  color #444
  display flex
  flex-wrap wrap
  font-weight 400
  height 100vh
  justify-content center
  letter-spacing -1px
  overflow hidden
  width 100vw

  main
    align-items center
    color #999
    display flex
    flex-direction column
    justify-content center
    
    div
      background #fff
      cursor pointer
      font-size 5vw
      margin 2px 0px
      padding 10px 20px
      text-align center
      width 50vw
      

button
  background #3498db
  border none
  border-radius 2px
  font-weight 600
  color #fff
  padding 10px 25px
  border-bottom 3px solid #2980b9
  outline none
  transition border-width .1s
  
  &:active
    border-bottom-width 0
  
