@require '../packages/github/necolas/normalize.css@3.0.2/normalize.css'

html, body, main
  // align-items center
  background #f6f6f6
  color #444
  // display flex
  // flex-wrap wrap
  font-weight 400
  height 100vh
  // justify-content center
  letter-spacing -1px
  overflow hidden
  width 100vw

main
  color #999
  align-items stretch
  display flex
  flex-direction column
  justify-content center

button
  background #3498db
  border none
  box-shadow 0 2px 0 #2980b9
  border-radius 2px
  color #fff
  font-weight 600
  outline none
  padding 10px 25px
  position relative
  
  &:active
    box-shadow none
    top 2px

.user-list
.user-actions
  display flex
  justify-content center

.user-list
  align-items center
  height 80vh
  flex-direction column

.user
  background #fff
  padding 5px 10px
  margin 1px
  max-width 600px
  min-width 200px
  width 100%


  > *
    margin 1em 0

.user-actions
  align-items center
  height 20vh
