doctype html
head
  title test
  each style in styles
    link(href= style, rel='stylesheet')

body
  main
    section.user-list(data-element='user-list')
    section.user-actions
      button.user-add(data-element='user-add-button', data-skip='0') get

  each script in scripts
    script(src= script)
